In [ ]:
print(name)

this is a text block so i can explain my code

### Markdown
## Markdown
# Markdown

In [ ]:
#### Markdown

#### Markdown

Here is a link to the [Apple](http://apple.com) website
It is "simple", but also **powerful**

# Markdown (Big text)
## Markdown 
### Markdown
#### Markdown (smaller text)

In [ ]:
print("My name is Joe")

In [ ]:
x = 21

In [ ]:
x = 21
print(x)

In [ ]:
y = 23

In [ ]:
import this

In [ ]:
# Assign 21 to x
x = 21
x = 7 #now x is 7
x =

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
b

In [ ]:
c = b

In [ ]:
c

In [ ]:
print(a, b, c)

In [ ]:
b[1] = 5

In [ ]:
b

In [ ]:
print(a, b, c)

In [ ]:
a = [1, 2, 3]
b = [1, 5, 3]
c = [1, 2, 3]

print(a, b, c)

In [ ]:
c[1] = 3

print(a, b, c)

In [ ]:
a = [1, 2, 3]
b = [1, 5, 3]
c = [1, 2, 3]

a = c

print(a, b, c)

In [ ]:
c[1] = 3

print(a, b, c)

In [ ]:
x = 21

In [ ]:
x = "Dan"

In [ ]:
x

In [ ]:
x = "Hello Joe"

In [ ]:
print(x)

In [ ]:
type(x)

In [ ]:
y = 3

In [ ]:
print(y)

In [ ]:
type(y)

In [ ]:
del y

In [ ]:
x = 13
y = 15
z = (x+y) // 2
print(x, y, z)

In [ ]:
type(z)

In [ ]:
(2 + 4)*5 - (6 /3)

\n means a new line char if in a string
\t means a tab
\\ means a single normal backslash in a string
\" is a plain double quote in a string

In [ ]:
x = "this is a string"

In [ ]:
print(x)

In [ ]:
x = "\nthis is a string with line break"
print(x)

In [ ]:
x = "\tthis is a string starts with a \"tab\"."
print(x)

single quote ' and double quote " are the same thing

In [ ]:
x = """Starting and ending a string with triple " chars, permits embedded new lines and the use of " without using any escape chars """
print(x)

In [ ]:
x

In [ ]:
z = 3000000000000000000000 * 2 * 2
type(z)

In [ ]:
5 / 3.2

In [ ]:
5 // 3.2

In [ ]:
from math import *

In [ ]:
x = round(2.5)
print(x)

In [ ]:
x

In [ ]:
name = input("Name: ")

In [ ]:
print(name)

In [ ]:
print("why?")

In [ ]:
value1 = input("Give me a number between 1 and 10:")

In [ ]:
age = int(input("Age: "))

In [ ]:
age + 10

In [ ]:
age = str(age)

In [ ]:
type(age)

In [ ]:
#store name = [Number of specialist, wage, num of full time, num of part time]

R = [a, b, c, d]

R001 = [12, 23, 11, 22]

In [ ]:
a = input("Number of specialist: ")
b = input("Minimal wage for : ")
c = input("how many full-time? ")
d = input("how many part-time? ")

In [ ]:
print(a, b, c, d)

In [ ]:
#total NPS score = [first costumer, second, third, fourth, fifth]
NPS = [a, b, c, d, e]

a = input("First costumer NPS score between 0 to 5")
b = input("Second costumer NPS score between 0 to 5")
c = input("Third costumer NPS score between 0 to 5")
d = input("Fourth costumer NPS score between 0 to 5")
e = input("Fifth costumer NPS score between 0 to 5")

#NPS scores is reflected between -100 to 100, meaning that:
#-100 is value 0
#-66 is value 1
#-33 is value 2
#33 is value 3
#66 is value 4
#100 is value 5

In [1]:
range(0,12)

range(0, 12)