In [ ]:
age = 40
city = "Seattle"
state = "Washington"

In [ ]:
age >= 65 and city == "Seattle"

In [ ]:
age <= 65 and (city == "Seattle" or state == "Washington")

In [ ]:
not age >= 65

In [ ]:
name = "Joe"

In [ ]:
name = name.lower()
name

In [ ]:
name = name.upper()
name

In [ ]:
name = input("enter a name: ")
"apple" == name.lower()

In [ ]:
age = int(input("Your age please: "))

if age >= 18:
    print("yes you can vote")
else: 
    print("sorry, no vote for you")

In [ ]:

invoice_total = int(input("Enter your invoice amount: "))

if invoice_total >= 500:
    discount_percent = 0.2
elif invoice_total >= 250:
    discount_percent = 0.1
else:
    print("Invoice total must be greater than 0")

In [2]:

score = int(input("Enter your test score: "))

if 90 <= score <= 100:
    print("Test grade is A")
elif 80 <= score <= 89:
    print("Test grade is B")
elif 70 <= score <= 79:
    print("Test grade is C")
elif 60 <= score <= 69:
    print("Test grade is D")
elif score <= 59:
    print("Test grade is F")
else: 
    print("Please put in an actual test score!")

Enter your test score:  78

Test grade is C

In [6]:
score = int(input("Enter your test score: "))

if score >= 0 and score <= 100:
    total_score = score
else:
    print("Please put in an actual test score!")

if 90 <= total_score <= 100:
    grade = "A"
elif 80 <= total_score <= 89:
    grade = "B"
elif 70 <= total_score <= 79:
    grade = "C"
elif 60 <= total_score <= 69:
    grade = "D"
elif total_score <= 59:
    grade = "F"
else: 
    print("Please put in an actual test score!")

print(grade)

Enter your test score:  560

Please put in an actual test score!
F

In [10]:
is_valid = True
costomer_type = input("Enter customer type (r/w): ")
if costomer_type == "r" or costomer_type == "w":
    pass 
else:
    print("Customer type must bve 'r' or 'w'.")
    is_valid = False

Enter customer type (r/w):  r

In [ ]:
"""
You have retail and wholesale customers (r/w).  If a retail customer, give
a 0% discount.  If wholesale, give a 40% discount
write out (in English) - how you would code that.  Pseudocode...

set cosutmer if r or w, use input costumer type


if costumer is r
    give 0%

elif costumer is w
    give 4%

else for all other types of costumer


"""

In [12]:
first_name = input("First Name: ")
last_name = input("Last Name: ")
birth = input("Birth Year: ")

print("Welcome" , first_name , last_name , "!")
print("Your registration is complete.")
print("Your temporarily password is: " , first_name + "*" + birth )

First Name:  Eric
Last Name:  Idle
Birth Year:  1934

Welcome Eric Idle !
Your registration is complete.
Your temporarily password is:  Eric*1934

In [22]:
#gross_pay = hours*hourly_rate
#tax_amount = gross_pay*(tax_rate/100)
#take_home_pay = gross_pay - tax_amount

tax_rate = 0.18*100
#float for inputs


hours = float(input("Hours Worked: "))
hourly_rate = float(input("Hourly Pay Rate: "))

def gross_pay(hours, hourly_rate):
    gross_pay = hours*hourly_rate
    return gross_pay

def tax_amount(gross_pay, tax_rate):
    tax_amount = gross_pay(hours, hourly_rate)*(tax_rate/100)
    return tax_amount

def take_home_pay(gross_pay, tax_amount):
    take_home_pay = gross_pay(hours, hourly_rate) - tax_amount(gross_pay, tax_rate)
    return take_home_pay

print("Gross Pay: " , gross_pay(hours, hourly_rate))
print("Tax Rate: " , tax_rate , "%" )
print("Tax Amount: " , tax_amount(gross_pay, tax_rate))
print("Take Home Pay: " , take_home_pay(gross_pay, tax_amount))

Hours Worked:  35
Hourly Pay Rate:  14.5

Gross Pay:  507.5
Tax Rate:  18.0 %
Tax Amount:  91.35
Take Home Pay:  416.15

In [6]:
#tip = cost * (tip_percent / 100)

#all input is float

cost = float(input("Cost of meal: "))
tip_percent = float(input("Tip percent: "))

def tip(cost, tip_percent):
    tip = cost * (tip_percent / 100)
    tip = round(tip, 2)
    return tip

print("Tip amount: " , tip(cost, tip_percent))
print("Total amount: " , cost + tip(cost, tip_percent))

Cost of meal:  52.31
Tip percent:  20

Tip amount:  10.46
Total amount:  62.77

In [8]:
#price_p_ounce = price / ounces

price64 = float(input("Price of 64 oz size: "))
price32 = float(input("Price of 32 oz size: "))

def ppo_64(price64):
    ppo_64 = price64 / 64
    ppo_64 = round(ppo_64, 2)
    return ppo_64

def ppo_32(price32):
    ppo_32 = price32 / 32
    ppo_32 = round(ppo_32, 2)
    return ppo_32

print("Price per oz ""(64oz)"": " , ppo_64(price64))
print("Price per oz ""(32oz)"": " , ppo_32(price32))

Price of 64 oz size:  5.99
Price of 32 oz size:  3.50

Price per oz (64oz):  0.09
Price per oz (32oz):  0.11

In [9]:
#Travel Time Cal

miles = int(input("Enter miles: "))
mph = int(input("Enter miles per hours: "))

hours = miles / mph
rhours = round(hours)

#hours decimals places to minutes

minutes = (hours - rhours) * 60 
rminutes = round(minutes)

print("Estimated travel time ")
print("Hours: ", rhours )
print("Minutes: ", rminutes)

Enter miles:  200
Enter miles per hours:  65

Estimated travel time
Hours:  3
Minutes:  5

In [11]:
99/25

3.96

In [13]:
c=int(input('Please enter an amount between 0-99:'))
print(c//25, "quarters")
c = c%25
print(c//10, "dimes")
c = c%10
print(c//5, "nickles")
c = c%5
print(c//1, "pennies")

Please enter an amount between 0-99: 99

3 quarters
2 dimes
0 nickles
4 pennies

In [14]:
names = ["Ernesto", "Lee"]
type(names)

list

In [15]:
#tuples are created with ()
items = (-6, 'cat', (1, 2))

In [17]:
items

(-6, 'cat', (1, 2))

In [18]:
len(items)

3

In [19]:
items[-1]

(1, 2)

In [20]:
items[0]

-6

In [21]:
items[-3]

-6

In [25]:
type((5, "cat"))

tuple

In [29]:
lucky = (6, 7, 21, 77)
lucky

(6, 7, 21, 77)

In [30]:
lucky2 = lucky[1:]
lucky2

(7, 21, 77)

In [32]:
pets = ('dog', 'cat', 'bird', 'dog')
pets

('dog', 'cat', 'bird', 'dog')

In [33]:
'bird' in pets

True

In [34]:
len(pets)

4

In [35]:
pets.count('dog')

2

In [37]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup2 + tup1

(4, 5, 6, 1, 2, 3)

In [38]:
tup1*2

(1, 2, 3, 1, 2, 3)

In [42]:
x = tup1[2]
x*2

6

In [47]:
#list
numbers = [7, -7, 2, 3, 2]
numbers

[7, -7, 2, 3, 2]

In [48]:
len(numbers)

5

In [49]:
#my tuple
mytuple = ('x', 21, 'dog', 'cat')
mytuple

('x', 21, 'dog', 'cat')

In [53]:
numbers.append(21)
numbers

[7, -7, 2, 3, 2, 21, 21]

In [55]:
lst = [3, (1, ), 'dog', 'cat']
lst

[3, (1,), 'dog', 'cat']

In [56]:
lst[1:3]

[(1,), 'dog']

In [57]:
pets = ['frog', 'dog', 'cow', 'hamster']
pets

['frog', 'dog', 'cow', 'hamster']

In [58]:
pets[2] = 'cat'

In [59]:
pets

['frog', 'dog', 'cat', 'hamster']

In [60]:
pets.remove('frog')
pets

['dog', 'cat', 'hamster']

In [63]:
pets.append('dog')
pets

['dog', 'cat', 'hamster', 'dog']

In [64]:
pets.count('dog')

2

In [66]:
lst = ['fish', 'hog']
lst
pets

['dog', 'cat', 'hamster', 'dog']

In [68]:
pets.extend(lst)
pets

['dog', 'cat', 'hamster', 'dog', 'fish', 'hog', 'fish', 'hog']

In [69]:
pets.insert(4, 'goldfish')

In [70]:
pets

['dog', 'cat', 'hamster', 'dog', 'goldfish', 'fish', 'hog', 'fish', 'hog']

In [74]:
pets = ['dog', 'cat', 'hamster', 'dog', 'goldfish', 'fish', 'hog', 'fish', 'hog']
pet = pets.pop(4)
pet

'goldfish'

In [75]:
snake = [1, 2, 3]
snake

[1, 2, 3]

In [76]:
snake[1] = snake

In [77]:
snake

[1, [...], 3]

In [97]:
#loop list 

def numnote(lst):
    msg = []
    for i in lst:
        if i < 0:
            s = str(i) + ' is negative'
        elif 0 <= i <= 100 :
            s = str(i) + ' is positive'
        msg.append(s)
    return msg

In [98]:
my_list = [1, 5, -6, 22]
numnote(my_list)

['1 is positive', '5 is positive', '-6 is negative', '22 is positive']

In [99]:
for msg in numnote(my_list):
    print(msg)

1 is positive
5 is positive
-6 is negative
22 is positive

In [103]:
print("before the sort: " + str(my_list))
my_list.sort()
my_list

before the sort: [1, 5, -6, 22]

[-6, 1, 5, 22]

In [100]:
lst = ['up', 'down', 'cat', 'dog']
lst

['up', 'down', 'cat', 'dog']

In [101]:
lst.sort()
lst

['cat', 'dog', 'down', 'up']

In [96]:
lst.reverse()
lst

['up', 'down', 'dog', 'cat']